* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.main-title {
    text-align: center;
    padding: 50px 0;
}
.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}
.main-img img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
    transition: opacity 0.5s ease-in-out;
}
.main-img.loaded {
    opacity: 1;
}
.btns {
    margin-top: 50px;
    cursor: pointer;
}
.btns span {
    margin: 0 20px;
    border: 1px solid transparent;
    background-color: aqua;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.img-slider {
    display: flex;
    align-items: center;
    padding: 100px 0;
    gap: 1rem;
}
.img-slider img {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    height: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}